<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="3">
  <test name="Test">
    <classes>
      <class name="testcases.TC010"/>
      <class name="testcases.TC001"/>
      <class name="testcases.TC003"/>
      <class name="testcases.TC002weekone"/>
      <class name="testcases.TC004"/>
      <class name="testcases.TC005"/>
      <class name="testcases.TC006"/>
      <class name="testcases.TC007"/>
      <class name="testcases.TC008"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
